/*this is a variable file*/
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-BlackItalic.woff2") format("woff2"), url("../../fonts/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-BoldItalic.woff2") format("woff2"), url("../../fonts/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Light.woff2") format("woff2"), url("../../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.woff2") format("woff2"), url("../../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraBoldItalic.woff2") format("woff2"), url("../../fonts/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Italic.woff2") format("woff2"), url("../../fonts/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraLightItalic.woff2") format("woff2"), url("../../fonts/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraLight.woff2") format("woff2"), url("../../fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-MediumItalic.woff2") format("woff2"), url("../../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Thin.woff2") format("woff2"), url("Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBoldItalic.woff2") format("woff2"), url("Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-ThinItalic.woff2") format("woff2"), url("../../fonts/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.woff2") format("woff2"), url("../../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-LightItalic.woff2") format("woff2"), url("../../fonts/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.woff2") format("woff2"), url("../../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  letter-spacing: normal;
  overflow-x: hidden;
}

.custom-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}
@media (max-width: 768px) {
  .custom-container {
    padding: 0 20px;
  }
}

p {
  font-size: 14px;
  font-weight: 500;
  color: #141414;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  p {
    font-size: 12px;
    line-height: 18px;
  }
}

h2 {
  font-size: 56px;
  line-height: 70px;
  font-weight: 600;
}
@media (max-width: 992px) {
  h2 {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 46px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

.whats-app-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  background-color: #fff;
  padding: 0 5%;
}

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
nav .logo .main-logo-img {
  width: 120px;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #141414;
  text-decoration: none;
  position: relative;
}

nav .links a:hover {
  color: #3d8f34;
}

nav .links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3d8f34;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

nav .links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  color: white;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #6e3f26;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: flex-start;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 16px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}
.hero-section .main-hero-section {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/main-backgrund-img.png");
  background-size: cover;
  background-position: center;
}
.hero-section .main-hero-section .hero-detail-section {
  background-color: rgba(247, 245, 242, 0.7490196078);
  margin-top: 100px;
  padding: 24px;
  border-radius: 24px;
}
.hero-section .main-hero-section .hero-detail-section .hero-heading {
  text-align: center;
  font-size: 80px;
  line-height: 88px;
  font-weight: 600;
  color: #6e3f26;
}
@media (max-width: 992px) {
  .hero-section .main-hero-section .hero-detail-section .hero-heading {
    font-size: 56px;
    line-height: 72px;
  }
}
@media (max-width: 768px) {
  .hero-section .main-hero-section .hero-detail-section .hero-heading {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 576px) {
  .hero-section .main-hero-section .hero-detail-section .hero-heading {
    font-size: 40px;
    line-height: 48px;
  }
}
.hero-section .main-hero-section .hero-detail-section .hero-sub-heading {
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: #3d8f34;
  padding: 12px;
}
@media (max-width: 992px) {
  .hero-section .main-hero-section .hero-detail-section .hero-sub-heading {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .hero-section .main-hero-section .hero-detail-section .hero-sub-heading {
    font-size: 20px;
    line-height: 26px;
  }
}
@media (max-width: 576px) {
  .hero-section .main-hero-section .hero-detail-section .hero-sub-heading {
    font-size: 18px;
    line-height: 24px;
  }
}
.hero-section .main-hero-section .hero-detail-section .hero-title {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  color: #2b2b2b;
}

.about-us-section {
  padding: 80px 0;
  background-color: rgba(255, 247, 230, 0.1882352941);
}
.about-us-section .about-us-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .about-us-section .about-us-details {
    flex-direction: column;
  }
}
.about-us-section .about-us-details .about-information .about-heading {
  color: #6e3f26;
  margin-bottom: 0px;
}
.about-us-section .about-us-details .about-information .about-sub-heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #3d8f34;
  margin-bottom: 14px;
}
@media (max-width: 576px) {
  .about-us-section .about-us-details .about-information .about-sub-heading {
    font-size: 18px;
    line-height: 26px;
  }
}
.about-us-section .about-us-details .about-information .about-pera {
  color: #141414;
  max-width: 500px;
  margin-bottom: 10px;
}
.about-us-section .about-us-details .about-product-img {
  min-height: 500px;
  min-width: 500px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-section .about-us-details .about-product-img .about-img {
  width: 100%;
  max-height: 500px;
}
@media (max-width: 992px) {
  .about-us-section .about-us-details .about-product-img {
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
    max-width: 300px;
  }
}

.our-story-section {
  background-color: #6e3f26;
  padding: 80px 0;
}
.our-story-section .our-story-details .story-heading {
  color: #f9f4ea;
  margin-bottom: 24px;
  text-align: center;
}
.our-story-section .our-story-details .story-pera {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #f9f4ea;
  text-align: center;
}
@media (max-width: 768px) {
  .our-story-section .our-story-details .story-pera {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  .our-story-section .our-story-details .story-pera {
    font-size: 12px;
    line-height: 20px;
  }
}

.coconut-creativity-section {
  padding: 80px 0;
}
.coconut-creativity-section .coconut-creativity-heading {
  color: #6e3f26;
  margin-bottom: 12px;
}
.coconut-creativity-section .coconut-creativity-sub-heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #3d8f34;
  margin-bottom: 14px;
}
@media (max-width: 992px) {
  .coconut-creativity-section .coconut-creativity-sub-heading {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 768px) {
  .coconut-creativity-section .coconut-creativity-sub-heading {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 576px) {
  .coconut-creativity-section .coconut-creativity-sub-heading {
    font-size: 14px;
    line-height: 20px;
  }
}
.coconut-creativity-section .coconuts_critivity-process {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.coconut-creativity-section .coconuts_critivity-process img {
  border-radius: 12px;
}

.key-fector-section {
  padding: 80px 0;
  background-color: #f9f4ea;
}
.key-fector-section .key-fector-heading {
  color: #6e3f26;
  text-align: center;
  margin-bottom: 60px;
}
.key-fector-section .key-fector-cards .key-value-cards {
  text-align: center;
}
.key-fector-section .key-fector-cards .key-value-cards .key-title {
  font-size: 40px;
  line-height: 46px;
  font-weight: 500;
  color: #22291b;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .key-fector-section .key-fector-cards .key-value-cards .key-title {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 576px) {
  .key-fector-section .key-fector-cards .key-value-cards .key-title {
    font-size: 24px;
    line-height: 30px;
  }
}
.key-fector-section .key-fector-cards .key-value-cards .key-text {
  color: #141414;
}
@media (max-width: 576px) {
  .key-fector-section .key-fector-cards .key-value-cards .key-text {
    font-size: 12px;
    line-height: 16px;
  }
}

.what-we-offer-section {
  padding: 80px 0;
}
.what-we-offer-section .offer-heading {
  color: #6e3f26;
  text-align: center;
}
.what-we-offer-section .offer-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #141414;
  text-align: center;
  padding-bottom: 40px;
}
.what-we-offer-section .what-we-offer-cards .offer-cards {
  border-radius: 12px;
  max-width: 290px;
}
.what-we-offer-section .what-we-offer-cards .offer-cards .offer-c {
  background-color: #f9f4ea;
  padding: 12px;
  height: 370px;
  border-radius: 12px;
  text-decoration: none;
}
.what-we-offer-section .what-we-offer-cards .offer-cards .offer-c .product-img {
  width: 100%;
  border-radius: 12px;
  min-height: 200px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.what-we-offer-section .what-we-offer-cards .offer-cards .offer-c .product-detail {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #6e3f26;
}
.what-we-offer-section .what-we-offer-cards .offer-cards .offer-c .product-detail-info {
  font-size: 14px;
  font-weight: 500;
  color: #141414;
  margin: 0;
}

.product-detail-section {
  background-color: #22291b;
  padding: 80px 0;
}
.product-detail-section .product-detail-heading {
  color: #f9f4ea;
  text-align: center;
}
.product-detail-section .product-all-cards {
  justify-content: center;
}
.product-detail-section .product-all-cards .product-card {
  background-color: white;
  margin: 12px;
  padding: 24px;
  border-radius: 12px;
  text-decoration: none;
  max-width: 300px;
}
.product-detail-section .product-all-cards .product-card .product-image {
  width: 100%;
  border-radius: 12px;
}
.product-detail-section .product-all-cards .product-card .product-name {
  font-size: 24px;
  font-weight: 500px;
  line-height: 30px;
  color: #22291b;
}
.product-detail-section .product-all-cards .product-card .product-text {
  color: #22291b;
}
@media (max-width: 576px) {
  .product-detail-section .product-all-cards .product-card {
    padding: 12px;
  }
}
.product-detail-section .view-buttton {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 8px 20px;
  background-color: white;
  color: #22291b;
  border: none;
  border-radius: 12px;
  margin: 0 auto;
}

.our-commitment-section {
  padding: 80px 0;
}
.our-commitment-section .offer-heading {
  color: #6e3f26;
  text-align: center;
  margin-bottom: 40px;
}
.our-commitment-section .graphics-image {
  max-width: 600px;
  max-height: 400px;
}
.our-commitment-section .graphics-image img {
  border-radius: 12px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.our-commitment-section .commitment-details .commitment-list {
  color: #3d8f34;
  align-items: center;
  gap: 8px;
  max-width: 600px;
  margin: 20px;
  list-style: circle;
}
.our-commitment-section .commitment-details .commitment-list img {
  width: 30px;
}
.our-commitment-section .commitment-details .commitment-list .commitment-text {
  color: #3d8f34;
}
.our-commitment-section .commitment-details .commitment-list .commitment-text span {
  font-weight: 600;
}

.footer-section {
  background-color: #22291b;
  padding: 40px 0;
}
.footer-section .social-icon {
  display: flex;
}
.footer-section .social-icon a {
  padding: 0 6px;
}
.footer-section .social-icon a img {
  width: 30px;
  height: 30px;
}
.footer-section .footer-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #f9f4ea;
  margin: 0;
}
.footer-section .footer-text a {
  color: white;
  text-decoration: none;
}

.about_hero_section {
  margin-top: 50px;
  background-image: url("../../images/kerela-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
.about_hero_section .about-hero {
  text-align: center;
  padding: 120px 0;
  background-color: rgba(0, 0, 0, 0.4117647059);
}
.about_hero_section .about-hero .about-page-heading {
  font-size: 80px;
  line-height: 88px;
  color: #fff;
  font-weight: 600;
}
@media (max-width: 992px) {
  .about_hero_section .about-hero .about-page-heading {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 768px) {
  .about_hero_section .about-hero .about-page-heading {
    font-size: 40px;
    line-height: 46px;
  }
}
@media (max-width: 576px) {
  .about_hero_section .about-hero .about-page-heading {
    font-size: 32px;
    line-height: 40px;
  }
}

.product-information {
  padding: 80px 0;
}
.product-information .product-details-pera {
  text-align: center;
  color: #141414;
}
.product-information .product-details-pera span {
  color: #3d8f34;
  font-weight: 600;
}

.product_hero_section {
  margin-top: 50px;
  background-image: url("../../images/product-g-img-pica.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
.product_hero_section .product-hero {
  text-align: center;
  padding: 120px 0;
}
.product_hero_section .product-hero .product-page-heading {
  font-size: 80px;
  line-height: 88px;
  color: #6e3f26;
  font-weight: 600;
  background: white;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .product_hero_section .product-hero .product-page-heading {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 768px) {
  .product_hero_section .product-hero .product-page-heading {
    font-size: 40px;
    line-height: 46px;
  }
}
@media (max-width: 576px) {
  .product_hero_section .product-hero .product-page-heading {
    font-size: 32px;
    line-height: 40px;
  }
}

.product-detail-category {
  padding: 30px 0;
}
.product-detail-category .prodects-information .product-category-title {
  font-size: 20px;
  line-height: 26px;
  color: #6e3f26;
  font-weight: 600;
}
.product-detail-category .prodects-information .product-cate-txt {
  font-size: 12px;
  color: #3d8f34;
}
.product-detail-category .prodects-information .category-card {
  margin-top: 20px;
}
.product-detail-category .prodects-information .category-card .cat-cards .product-category-card {
  border-radius: 8px;
  padding: 12px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.0901960784);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}
.product-detail-category .prodects-information .category-card .cat-cards .product-category-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product-detail-category .prodects-information .category-card .cat-cards .product-category-card .product-img {
  width: 100%;
  height: 207px;
  border-radius: 12px;
  margin-bottom: 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product-detail-category .prodects-information .category-card .cat-cards .product-category-card .pr-name {
  font-size: 18px;
  color: #141414;
}
.product-detail-category .prodects-information .category-card .cat-cards .product-category-card .pr-text {
  font-size: 12px;
  color: #141414;
  display: none;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tag-list {
  width: 70rem;
  max-width: 90vw;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.loop-slider .inner {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: 20s;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  margin-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 12px;
  overflow: hidden;
}
.tag span {
  font-size: 1.2rem;
  color: #64748b;
}
.tag img {
  height: 150px;
}

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, #22291b, transparent 30%, transparent 70%, #22291b);
  position: absolute;
  inset: 0;
  opacity: 1 !important;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=style.css.map */